/* custom */

.specification__content--desktop-left > * { color: var(--gradient-base-accent-4); }
 .about-multicolumn-overlay .media>*:not(.zoom):not(.deferred-media__poster-button) { position: absolute; } 
.specification .specification_block .specification__text.rte>p:last-child { color: var(--gradient-base-accent-4); }
/* custom */

.specification .grid {
  margin-bottom: 0;
}

.specification .grid__item {
  position: relative;
}

@media screen and (min-width: 750px) {
  .specification__grid--reverse {
    flex-direction: row-reverse;
  }
}


.specification_image-item-list {
    width: 120px;
    height: 120px;
}
@media screen and (max-width: 1440px) and (min-width: 990px)   {
.specification__content.layout-segmented {
    column-gap: 30px;
}
}
@media screen and (max-width: 576px) and (min-width: 320px)  {
.specification__content.layout-segmented{    
  grid-template-columns: repeat(1,1fr);
  row-gap:30px;
  column-gap: 0px;
}
  .specification__text-items_group{ justify-content: center;}
}
.specification__media {
  min-height: 100%;
  overflow: visible;
}
.specification__media--small {
  height: 19.4rem;
}
.specification__media--custom {
    height: 70.5rem;
    width: 100%;
    max-width:100% ;
}
.specification__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .specification__media--small {
    height: 31.4rem;
  }
 .specification__media--custom {
    height: 55.5rem;
    width: 100%;
    max-width: 71%;
}
  
  .specification__media--large {
    height: 69.5rem;
  }
}

.specification__media--placeholder {
  position: relative;
  overflow: hidden;
}

.specification__media--placeholder:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-foreground), 0.04);
}

.specification__media--placeholder.specification__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .specification__media--placeholder.specification__media--adapt {
    height: 30rem;
  }
}
h2.specification__heading {
  color: var(--gradient-base-accent-1); 
   margin-bottom: 10px;
   font-size: 2.4rem;
}
.specification__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}



.specification .grid__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.specification:not(.specification--overlap) .specification__media-item:after {
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.specification:not(.specification--overlap) .specification__text-item:after {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.specification .specification__media-item > * {
  border-radius: var(--media-radius);
  overflow: hidden;
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}


.specification .specification__text-item > * {
  border-radius: var(--text-boxes-radius);
  /* overflow: hidden;  */
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.specification:not(.specification--overlap) .specification__media-item > *,
.specification:not(.specification--overlap) .specification__text-item > * {
  box-shadow: none;
}

@media screen and (max-width: 749px) {

  .specification.collapse-borders:not(.specification--overlap) .specification__content {
    border-top: 0;
  }
}

.specification__content--mobile-right > * {
  align-self: flex-end;
  text-align: right;
}

.specification__content--mobile-center > * {
  align-self: center;
  text-align: center;
}

.specification--overlap .specification__content {
  width: 90%;
  margin: -3rem auto 0;
}

@media screen and (min-width: 750px) {
  .specification__grid--reverse .specification__content {
    margin-left: auto;
  }

  .specification__content--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .specification__content--top {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .specification__content--desktop-right > * {
    align-self: flex-end;
    text-align: right;
  }

  .specification__content--desktop-left > * {
/*     align-self: flex-start; */
    text-align: left;
    
  }

  .specification__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }

  .specification--overlap .specification__text-item {
    display: flex;
    padding: 3rem 0;
  }

  .specification--overlap .specification__content {
    height: auto;
    width: calc(100% + 4rem);
    min-width: calc(100% + 4rem);
    margin-top: 0;
    margin-left: -4rem;
  }

  .specification--overlap .specification__grid--reverse .specification__content {
    margin-left: 0;
    margin-right: -4rem;
  }

  .specification--overlap .specification__grid--reverse .specification__text-item {
    justify-content: flex-end;
  }

  .specification--overlap .specification__media-item--top {
    align-self: flex-start;
  }

  .specification--overlap .specification__media-item--middle {
    align-self: center;
  }

  .specification--overlap .specification__media-item--bottom {
    align-self: flex-end;
  }

  .specification__media-item--small,
  .specification__media-item--large + .specification__text-item {
    flex-grow: 0;
  }

  .specification.collapse-borders:not(.specification--overlap) .grid:not(.specification__grid--reverse) .specification__content {
    border-left: 0;
  }

  .specification.collapse-borders:not(.specification--overlap) .specification__grid--reverse .specification__content {
    border-right: 0;
  }
}

.specification:not(.collapse-corners, .specification--overlap) .specification__media-item {
  z-index: 2;
}

.specification__content {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}


.specification__content > * + * {
  margin-top: 1.58rem;
}

.specification__content > .specification__text:empty ~ a {
  margin-top: 2rem;
}

.specification__content > :first-child:is(.specification__heading),
.specification__text--caption + .specification__heading,
.specification__text--caption:first-child {
  margin-top: 0;
}

.specification__content :last-child:is(.specification__heading),
.specification__text--caption {
  margin-bottom: 0;
}

.specification__content .button + .specification__text {
  margin-top: 2rem;
}

.specification__content .specification__text + .button {
  margin-top: 3rem;
}

.specification__heading {
  word-break: break-word;
  margin-bottom: 0;
}

.specification__text p {
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .specification .grid {
    margin-left: 0;
  }
}
/*Specification block*/



.specification__media-item.grid__item{width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2); padding: 0 82px;}
.specification__text-item.grid__item{width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);}
.specification_block .specification_image-item-list { width: 80px;  height: 80px; display: flex; align-items: center; justify-content: center;}
.specification_block .specification__text-item--list{ padding-left: 20px; }
.specification_block{display: flex; height: 100%; align-items: center; flex-wrap: nowrap;  border-radius: var(--text-boxes-radius); 
  padding: 1.30rem; 
  
  border: 2px dashed #fff;
  transition: var(--duration-default); }

.specification_block h2.specification__heading{
   margin:0; margin-bottom: 1rem; overflow:hidden;  transition: var(--duration-default); }
.specification_block .specification__text p { transition: var(--duration-default); }
.specification_block:hover .specification__text p,
.specification_block:hover h2.specification__heading { color: var(--gradient-base-background-1); }
.specification_block h2.specification__heading:before { content: ""; width: 25px; height: 3px; background-color:var(--gradient-base-accent-1); top: 50%;  -webkit-transform: translateY(-50%); left: 0;
 webkit-transform: translateY(-50%); transform: translateY(-50%); transition: var(--duration-default); }
.specification_block:hover h2.specification__heading:before { background: var(--gradient-base-background-1); }
.specification_block p.specification__text{    position: absolute;  margin-left: auto;  margin-right: 0;  right: 0;  top: 0;  font-family: var(--font-additional-family); font-weight: 300; letter-spacing: 0; font-size: 1.8rem; color: var(--gradient-base-accent-1); background: var(--gradient-background); padding: 0 0 0 15px;}
.specification .specification__text-item .specification__content { position: relative; background: none; }
  .specification__media-item .specification__media{ display: flex; justify-content: center; border-radius: 50%; background: none; }  
  .specification__media-item .specification__media.media>*:not(.zoom):not(.deferred-media__poster-button) { margin-top: 30px; width: auto;  height: auto; left: auto; border-radius: 0;  border: none; /* border:5px solid var(--gradient-base-background-2); */ z-index: 1; margin-right: 30px; }
  .specification_block h2.specification__heading span { color: var(--gradient-base-background-2);}
  .specification .specification__text-item *::scrollbar{background: #efe5e5; width: 18px; position: relative;}
  .specification .specification__text-item *::scrollbar-thumb{background: var(--gradient-base-background-2);}
  .specification .specification__text-item *::-webkit-scrollbar{background: #efe5e5; width: 18px; position: relative;}
  .specification .specification__text-item *::-webkit-scrollbar-thumb{background: var(--gradient-base-background-2);}

/* Buttons */
    *::-webkit-scrollbar-button:single-button {
      background-color: transparent;;
      display: block;
      border-style: solid;
      height: 15px;
      width: 8px;
    }
    /* Up */
    *::-webkit-scrollbar-button:single-button:vertical:decrement {
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent #000 transparent;
    }

    *::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
      border-color: transparent transparent var(--gradient-base-background-2) transparent;
    }
   /* Down */
    *::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width:8px 8px 0px 8px;
      border-color: #000 transparent transparent transparent;
    }

    *::-webkit-scrollbar-button:vertical:single-button:increment:hover {
      border-color: var(--gradient-base-background-2) transparent transparent transparent;
    }

@media screen and (max-width: 1199px) {
.specification_block .specification_image-item-list {  margin-bottom: 15px; }

}

  
@media screen and (max-width: 1540px) {
 
.specification_block { margin: 3rem 0; }

.specification__media-item.grid__item { margin: auto; }
.specification__media-item .specification__media.media>*:not(.zoom):not(.deferred-media__poster-button) { margin-top: 0px; }
  .specification__media-item.grid__item {  padding: 0 70px; }
  }


@media screen and (max-width: 1199px)  {
 
  .specification_block .specification__text-item--list{    padding-left: 10px;}
  
 
  .specification .specification__text-item *::-webkit-scrollbar{width:5px;}
  
  .specification__media-item.grid__item{width: calc(100% - var(--grid-desktop-horizontal-spacing) / 2);}
.specification__text-item.grid__item{  width: calc(100% - var(--grid-desktop-horizontal-spacing) / 2);}
  .specification_block { margin: 0rem 1rem; padding: 3rem; display: flex;  flex-direction: column; align-items: flex-start;}
  .specification .specification__text-item .specification__content { display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 60px; column-gap: 10px; }
  .specification__media-item .specification__media {  height: 100%; }
  .media>*:not(.zoom):not(.deferred-media__poster-button) { position: relative; }

  .specification__media-item .specification__media.media>*:not(.zoom):not(.deferred-media__poster-button) {  margin-top: 0; margin-right:0; margin-bottom: 25px; }
  
}


  @media screen and (max-width: 749px)  {
    
.specification .specification__text-item .specification__content { display: grid; grid-template-columns: repeat(1,1fr); grid-gap: 45px; column-gap: 0; }

      .specification__media-item .specification__media.media>*:not(.zoom):not(.deferred-media__poster-button) {  width: 90%;  }

    
  }


 .specification.list__text.rte{   
    max-width: 800px;
    align-items: center;
    text-align: center;
    font-size: 2.0rem;
    font-family: var(--font-body-family);
    line-height: 34px;
    margin-bottom:3.5rem; 
      }
 .specification.list__text.rte{   
   .specification h2.specification__heading {    margin-bottom: 35px;}
p.specification-list-title__text {
    margin: 0;
}
   