/* custom */
footer .footer-block__newsletter .newsletter-form { margin: 0 auto; max-width: 72.5rem; position: relative; }

  /* custom */
.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 55rem;
    position: relative;
    padding-left: 0px;
  }
  
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;     height: 7rem;
  border-radius: 10px; border: none;
  color: var(--gradient-base-accent-2);      background-color: var(--color-primary-six);
}

.email-signup-banner.banner .banner__content .newsletter-form__field-wrapper .field__input {  border-radius: 10px; border: none; color: var(--gradient-base-accent-2);
    background-color: #ffe8e8; height: 6rem;  padding: 10px 100px 10px 22px; }
.email-signup-banner.banner .banner__content .newsletter-form__field-wrapper .field__label {  top: 17px; }
.email-signup-banner.banner .banner__content .field__button>svg { width:2rem; height:2rem; fill: var(--gradient-base-background-1); }



@media screen and (max-width:767px) {
  .banner__content .email-signup-banner__box.newsletter__wrapper { width:90%; }
}
.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }

}

.newsletter-form__button { margin:auto 0; width:auto;  z-index: 2;
  
   background: var(--color-primary-one);
  color: var(--gradient-base-background-1); font-size: 1.6rem; position: absolute; right: 10px; top: 5px;
    bottom: 5px; padding: 1.3rem 2.5rem 1.3rem 2.5rem; border-radius:10px; height:5rem;

}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground));

  background: var(--color-primary-one);
  transition:all 0.3s linear;
}

.newsletter-form__button:focus, .newsletter-form__button:hover {
/*   box-shadow: 0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground)); */
background: var(--color-primary-one);
  color: var(--gradient-base-background-1);
}

/* .newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
} */

.newsletter-form__button .icon {
  width: 1.5rem;
}
.field:after{display:none;}
 .newsletter__wrapper-right{margin-top:30px;}
@media screen and (min-width: 750px) {
/*   .newletter_wrapper-block{
     max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding:0 2rem;
  } */
/*   .newsletter__wrapper-left{
    text-align: left;
    width: 50%;
    position: relative;
  } */
/*   .newsletter__wrapper-left:after {
    content: "";
    width: 2px;
    height: 104px;
    background:var(--gradient-base-background-2);
    position: absolute;
    right: 10px;
    top: 0;
} */
/*   .newsletter__wrapper-right{
    width: 50%;
    position: relative;
  } */
}
.newletter_wrapper-block .field__input{ height: 4rem;}
.newletter_wrapper-block .field:hover.field:after{box-shadow:unset;}
.newletter_wrapper-block .field__button{ background-color: var(--gradient-base-background-2); font-family: var(--font-body-family);}
.newletter_wrapper-block .field__button:hover { background: var(--gradient-base-accent-1); color: var(--gradient-base-background-1);}
.newletter_wrapper-block .newsletter__subheading{font-size:2.0rem;}
.newsletter__wrapper-left h2{ margin: 1.8rem 0; }   
@media screen and (max-width: 749px) {
.newsletter__wrapper .newsletter-form__field-wrapper{ max-width: 50rem;}
.newsletter__wrapper-left{    margin-bottom: 35px;}
}